<div class="dialog-title">
    <h2 mat-dialog-title>Step Details</h2>
    <button mat-icon-button aria-label="close dislog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div class="uuid">
        <p>Uuid: <span>{{investigationStep.stepUuid}}</span> </p>
    </div>
    <div>
        <h4>Description</h4>
        <p>{{investigationStep.description}}</p>
    </div>
    <mat-divider></mat-divider>
    <div>
        <h4>Required</h4>
        <p *ngIf="investigationStep.required === '1'">Yes</p>
        <p *ngIf="investigationStep.required === '0'">No</p>
    </div>
    <mat-divider></mat-divider>
    <div>
    <h4>Display Type</h4>
    <p>{{investigationStep.displayType}}</p>
    </div>
    <mat-divider></mat-divider>
    <div>
    <div *ngIf="investigationStep.displayType != 'textbox'">
        <h4>Choices</h4>
        <div *ngFor="let choice of investigationStep.choices">
          
            <p><span>{{choice.id}}. </span>{{choice.description}}</p>
           
        </div>
    </div>
</div>
<mat-divider></mat-divider>
    <div>
        <h4>Logic Condition</h4>

        <div *ngFor="let condition of investigationStep.conditions">
            <p><span>{{condition.conditionId}}. </span>{{getStepDescription(condition.stepUuid)}}</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Value: <span>{{getChoiceDescription(condition.stepUuid, condition.choiceUuid)}}</span></p>
            <mat-divider></mat-divider>
        </div>
    </div>
</mat-dialog-content>