
<h2 mat-dialog-title>Update investigation</h2>

<form [formGroup]="form" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <p>Title</p>
    <mat-form-field>
      <input matInput formControlName="label" placeholder="Title" required>
    </mat-form-field>
    <p>Revision Status</p>
    <mat-form-field>
      <mat-select formControlName="revision_status" placeholder="Select Revision Status">
        <mat-option *ngFor="let status of revisionStatus" [value]="status.value">{{ status.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button color="primary" type="submit" [disabled]="form.invalid">Update</button>
  </mat-dialog-actions>
</form>