
.material-icons{
  color: #accbe3;
}

/*.hovering:hover .material-icons{
  color: #7a9bbf;
} */

/*:hover .material-icons{
  color: #7a9bbf;
} */

table {
    width: 100%;
  }


  .top-container{
    width: 100%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 10px;
   background-color: white;
   margin-bottom: 1%;
   display: inline-flex;

    height: 40px;
    line-height: 40px;
  }



a:link {
  color: #65848b;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #374357;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #586d8a;
  background-color: transparent;
  text-decoration: none;
}


.addbuttonInvest{
    color:#ffff;
    background-color: #accbe3;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border-color: transparent;
    position: absolute;
    right: 15px;
    width: 200px;
    height: 50px;

  }

  .mat-mdc-header-row{
  background-color: #7a9bbf !important;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}


.mat-mdc-table{
  border-radius: 8px;
  overflow:hidden !important;
  }


.top-container:hover .addbuttonInvest{
  color:#ffff;
  background-color: #7a9bbf;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  border-color: transparent;
  font-color: white;
}

  a{
    text-decoration: none;
  }

.Tile{
  left: 150px;
  width: 100%;
  font-size: 35px;
}

