table {
    width: 100%;
  }
  .top-container{
    width: 100%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 10px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 20px;
  }
  
  .addbutton{
    color:#ffff;
    background-color: #2196F3;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
  }
  a{
    text-decoration: none;
  }