<br /><br />
<mat-sidenav-container autosize>
  <mat-sidenav [opened]="true" mode="side" [style.width]="sideNavWidth()">
    <mat-nav-list>
      <div *ngFor="let step of reportDetails?.steps; let i = index">
        <div [ngClass]="{'disabled-step': !step.isVisible}">
          <a  (click)="getStep(step.stepUuid)" [ngClass]="{'active-step': oneStep?.stepUuid === step.stepUuid}">
            <span>
              <ng-content select="[icon]">
                <button mat-mini-fab [ngClass]="{'completed-step': step.isCompleted}">{{step.id}}</button>
              </ng-content>
            </span>
            <span class="text-container">
              <ng-content>
                <span>Step {{step.id}} - {{step.description}}</span>
              </ng-content>
            </span>
          </a>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-nav-list>

    <!-- Toggle button as an arrow -->
    <button mat-icon-button class="toggle-button" (click)="collapsed.set(!collapsed())">
      <mat-icon>{{ !collapsed() ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
    <div *ngIf="oneStep">
      <h2>Step {{oneStep.id}} </h2>
      <p>{{oneStep.description}}</p>
      <!-- Radio & Text Boxes -->
      <div *ngIf="oneStep.displayType === 'radio&text'">
        <mat-radio-group  [(ngModel)]="oneStep.answer"  (change)="onRadioChange($event, oneStep)">
          <div *ngFor="let choices of oneStep?.choices; let j = index" class="steps">
            <span class="form-control">
              <mat-radio-button  [value]="choices.choiceUuid">{{choices.description}}</mat-radio-button>
            </span>
          </div>
        </mat-radio-group>
        <br />
        <b>Please provide further details.</b><i>Optional</i><br /><br />
        <editor apiKey="r0gpf34f1r14a97ovjgipjiafq78h23ljobqqcamxru11wpd" [(ngModel)]="oneStep.textAnswer" [init]="init"></editor>
        <app-file-upload></app-file-upload>
      </div>
      <!-- Radio -->
      <div *ngIf="oneStep.displayType === 'radio'">
        <mat-radio-group [(ngModel)]="oneStep.answer"  (ngModelChange)="onRadioChange($event, oneStep)">
          <div *ngFor="let choices of oneStep?.choices; let j = index" class="steps">
            <span class="form-control">
              <mat-radio-button  [value]="choices.choiceUuid">{{choices.description}}</mat-radio-button>
            </span>
          </div>
        </mat-radio-group>
      </div>

        <!-- Checkbox and Text -->
        <div *ngIf="oneStep.displayType === 'checkbox&text'">
          <div *ngFor="let choice of oneStep?.choices; let j = index">
            <span class="form-control">
              <mat-checkbox
            [name]="'assessment_' + choice.choiceUuid"
            [id]="'choice_' + choice.id"
            [(ngModel)] = "choice.selected"
            (ngModelChange)="onCheckboxChange( choice, oneStep)"
          >{{choice.description}}</mat-checkbox>
              <!--<mat-checkbox [(ngModel)]="oneStep.answer" [value]="choices.choiceUuid" class="steps">{{choices.description}}</mat-checkbox> -->
            </span>
          </div>
          <br />
          <b>Please provide further details. </b><i>Optional</i><br /><br />
          <editor apiKey="r0gpf34f1r14a97ovjgipjiafq78h23ljobqqcamxru11wpd" [(ngModel)]="oneStep.textAnswer" [init]="init" />
          <app-file-upload></app-file-upload>
        </div>
  
        <!-- Checkbox and Text -->
        <br />
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<button mat-button color="primary" (click)="onSave()" type="submit" class="btn btn-primary">Save</button>