<p>
  report-conduct works!
  About this report:
  The Report's ID: {{reportId}}.
  The Investigation ID: {{reportDetails.entityId}}
</p>
<hr />
<div class="col-lg-7 toolbar-title" *ngIf="reportDetails">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Report Title</span>
    </div>
    <input type="text" class="form-control" id="surveyTitle" [value]="reportDetails.label" style="font-weight: bold">
  </div>
</div>

<br>

<div *ngFor="let steps of reportDetails?.steps; let i = index" class="assessment-item" cdkDrag>
  <div class="title-div">
    <div class="title-div-child1">
      <p style="font-weight: bold">{{i + 1}}.</p>
    </div>
    <div class="title-div-child2">
      <span class="form-control">
        <mat-label>{{steps.description}}</mat-label>
      </span>
    </div>
    <!--For when the display type is Radio&Text-->
    <div *ngIf="steps.displayType === 'radio&text'">
      <div *ngFor="let choices of steps?.choices; let j = index" class="steps" cdkDrag>
        <span class="form-control">
          <mat-radio-button [value]="choices.description">{{choices.description}}</mat-radio-button>
        </span>
      </div>
      <br />
      <b>Please provide further details. </b><i>Optional</i><br /><br />
          <editor apiKey="r0gpf34f1r14a97ovjgipjiafq78h23ljobqqcamxru11wpd" [init]="init" />
    </div>

    <!--For when the display type is radio-->
    <div *ngIf="steps.displayType === 'radio'">
      <div *ngFor="let choices of steps?.choices; let j = index" class="steps" cdkDrag>
        <span class="form-control">
          <mat-radio-button [value]="choices.description">{{choices.description}}</mat-radio-button>
        </span>
      </div>
      <br />
    </div>

    <!--For when the display type is Checkbox&Text-->
    <div *ngIf="steps.displayType === 'checkbox&text'">
      <div *ngFor="let choices of steps?.choices; let j = index" class="steps" cdkDrag>
        <span class="form-control">
          <mat-checkbox [value]="choices.description">{{choices.description}}</mat-checkbox>
        </span>
      </div>
      <br />
      <b>Please provide further details. </b><i>Optional</i><br /><br />
      <editor apiKey="r0gpf34f1r14a97ovjgipjiafq78h23ljobqqcamxru11wpd" [init]="init" />
    </div>

    <!--For when the display type is Checkbox-->
    <div *ngIf="steps.displayType === 'checkbox'">
      <div *ngFor="let choices of steps?.choices; let j = index" class="steps" cdkDrag>
        <span class="form-control">
          <mat-checkbox [value]="choices.description">{{choices.description}}</mat-checkbox>
        </span>
      </div>
    </div>

    <!--For when the display type is textbox-->
    <div *ngIf="steps.displayType === 'textbox'">
      <br />
      <editor apiKey="r0gpf34f1r14a97ovjgipjiafq78h23ljobqqcamxru11wpd" [init]="init" />
    </div>
    
  </div>
  <hr />
</div>

<pre>{{ reportDetails | json }}</pre>