.custom-form-field {
    width: 400px; /* Adjust the width of the form field */
  }
  
  .custom-form-field .mat-input-element {
    font-size: 12px; /* Adjust the font size of the input text */
  }
  
  .custom-form-field .mat-form-field-label {
    font-size: 10px; /* Adjust the font size of the floating label */
  }
  