<div>
    <div class="top-container">
      <h2>Report List</h2>
    </div>
  
    <button class="addbutton" (click)="addReport()">+Add Report</button>
  </div>
  
  <mat-table #table [dataSource]="reports" class="mat-elevation-z8">
  
    <ng-container matColumnDef="entityid" sticky>
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.entityId}}</mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a [routerLink]="['/report/conduct', element.entityId]">{{element.label}}
        </a></mat-cell>
    </ng-container>
  
    <!--  Investigation Column -->
    <ng-container matColumnDef="investigationId">
      <mat-header-cell *matHeaderCellDef> Investigation Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.investigationId}} </mat-cell>
    </ng-container>
  
    <!-- Creation Time Column -->
    <ng-container matColumnDef="createdTime">
      <mat-header-cell *matHeaderCellDef> Created Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdTime}} </mat-cell>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
  
      <mat-cell *matCellDef="let element">
        <button (click)="duplicateReport(element)">Duplicate</button>
        <button (click)="deleteReport(element.entityId)">Delete</button>
        <button>Edit</button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
