<h2 mat-dialog-title>Edit Step</h2>

<form #stepForm="ngForm" (ngSubmit)="save(stepForm)">
  <mat-dialog-content>
    <p>Description</p>
    <mat-form-field>
      <input matInput [(ngModel)]="formData.description" name="description" placeholder="Description" required>
    </mat-form-field>
    <p>Required</p>
    <mat-form-field>
      <mat-select [(ngModel)]="formData.required" name="required" placeholder="Select Required Status" required>
        <mat-option [value]="'1'">Yes</mat-option>
        <mat-option [value]="'0'">No</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Element Type</p>
    <mat-form-field>
      <mat-select [(ngModel)]="formData.displayType" name="displayType" placeholder="Select Element Type" required>
        <mat-option *ngFor="let type of displayType" [value]="type.value">{{ type.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Radio options -->
    <div *ngIf="formData.displayType === 'radio' || formData.displayType === 'radio&text' || formData.displayType === 'checkbox&text' || formData.displayType === 'checkbox'">
      <p>Options:</p>
      <div *ngFor="let choice of formData.choices; let i = index">
        <mat-form-field >
          <input matInput [(ngModel)]="choice.description" placeholder="Option {{ i + 1 }}" required name="choice{{i}}">
          <button mat-icon-button type="button" (click)="removeChoice(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-button type="button" (click)="addChoice()">Add Option</button>
    </div>

    <!-- Condition -->
    <p>Logic:</p>
    <div *ngFor="let condition of formData.conditions; let i = index">
      <mat-form-field>
        <p>Condition {{ i + 1 }}</p>
        <mat-select [(ngModel)]="condition.stepUuid" name="conditionStep{{i}}" (selectionChange)="updateStepChoices(condition.stepUuid, i)" placeholder="Select Step" required>
          <mat-option *ngFor="let step of filteredStepsData" [value]="step.stepUuid">{{ step.description }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <p>Value is</p>
        <mat-select [(ngModel)]="condition.choiceUuid" name="conditionChoice{{i}}" placeholder="Select Value" required>
          <mat-option *ngFor="let choice of condition.stepChoices" [value]="choice.choiceUuid">{{ choice.description }}</mat-option>
        </mat-select>
        <button mat-icon-button type="button" (click)="removeCondition(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-button type="button" (click)="addCondition()">Add Condition</button>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button color="primary" type="submit" [disabled]="stepForm.invalid">Create</button>
  </mat-dialog-actions>
</form>
