<h2>C.I</h2>
<div class="div-wrapper">
<div class="div-container">
  <div class="title-container">
  <h2>LOGIN</h2>
</div>
<div class="form-container">
  <form (ngSubmit)="login()" class="c">
    <p>Username</p>
    <mat-form-field class="username-input">
      <input matInput  type="text" id="username" placeholder="username"[(ngModel)]="username" name="username" required>
    </mat-form-field>
    <p>Password</p>
    <mat-form-field class="password-input">
      <input matInput  type="password" id="password" placeholder="********" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <br />
    <button mat-button  type="submit">Login</button>
  </form>
  </div>
  <!-- we dont really need this <button (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button> -->
</div>
</div>
