/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

*{
    font-family: Arial, Helvetica, sans-serif;
}

mdc-text-field--outlined .mdc-notched-outline_leading {
  border-color: red !important;
}


form {
  border-radius: 10px;
}
