.upload-container {
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }
  
  .upload-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .upload-container button {
    margin-top: 10px;
  }