table {
    width: 100%;
  }
  .top-container{
    width: 100%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 10px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 20px;
  }
  