
  <div class="top-container">

    <button *ngIf="changeDetected" mat-fab extended (click)="saveChanges()" class="save-button">
      <mat-icon>save</mat-icon>
      Save
    </button>
  
  </div>

  <mat-table #table [dataSource]="investigationSteps" class="mat-elevation-z8" cdkDropList 
  cdkDropListData="investigationSteps" (cdkDropListDropped)="drop($event)">

    <ng-container matColumnDef="id" sticky>
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let step">
        <mat-icon class="example-drag-cursor">reorder</mat-icon>
        <span>{{step.id}}</span></mat-cell>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let step">{{step.description}}</mat-cell>
    </ng-container>
  
    <!-- Type Status Column -->
    <ng-container matColumnDef="displayType">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let step"> {{step.displayType}} </mat-cell>
    </ng-container>
  
    <!-- Required Column -->
    <ng-container matColumnDef="required">
      <mat-header-cell *matHeaderCellDef> Required </mat-header-cell>
      <mat-cell *matCellDef="let step"> 
        <span *ngIf = "step.required === '1'">Yes</span>
        <span *ngIf = "step.required === '0'">No</span>
      </mat-cell>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-mini-fab class="action-button" (click) = "openEditDialog(element)">
          <mat-icon>edit</mat-icon>   
        </button>
        <button mat-mini-fab class="action-button">
          <mat-icon>delete</mat-icon>   
        </button> 

      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row" ></mat-row>
  </mat-table>